# .env.example
# Скопируйте этот файл, переименуйте в .env и укажите свои данные

DB_USER=username
DB_PASSWORD=password
DB_PORT=5432

ELASTICSEARCH_URL=http://elasticsearch:9200

CSV_SOURCE_PATH=/path/to/your/local/posts.csv
CSV_FILENAME=posts.csv